/* Reset some defaults */
@import url('../assets/css/variable.css');

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  /* position: fixed; */
  position: relative;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.6rem 1.5rem;
  z-index: 1000; /* Ensure it stays above sidebar */
}

.nav-logo {
  height: 50px; /* adjust as needed */
  width: auto;
}
.brand {
  display: flex;
  align-items: center;
  gap: 3px;
  padding-left: 30px;
}

.logo {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
}

.hamburger {
  display: none;
  font-size: 1.8rem;
  color: var(--text-color);
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
    display: none;
  }

  .menu-toggle:checked ~ .nav-links {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .menu-toggle {
    display: none;
  }
}
